.button {
  height: var(--SIZE_60);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--RADIUS_10);
}

.primary {
  width: 100%;
  box-sizing: border-box;
  border: none;
  text-decoration: none;
  color: var(--COLOR_FOREGROUND);
  transition:
    opacity var(--TRANSITION_05) ease,
    background var(--TRANSITION_05) ease;
  opacity: var(--OPACITY_1);
  background-color: var(--COLOR_POSITIVE);
  box-shadow: 0 4px 15px var(--COLOR_SHADOW_POSITIVE);
}

.primary:focus {
  outline: none;
}

.primary:hover {
  background: var(--COLOR_POSITIVE_PRESSED);
  cursor: pointer;
}

.disabled {
  opacity: var(--OPACITY_05);
}

.disabled:hover {
  background: var(--COLOR_POSITIVE);
  cursor: default;
}
