.calendarBlock {
  min-height: var(--CALENDAR_MIN_HEIGHT);
}

.buttonBlock {
  width: 100%;
  margin-bottom: var(--MARGIN_10);
  padding-left: var(--PADDING_10);
  padding-right: var(--PADDING_10);
}

.pickerBlock {
  width: 100%;
  min-width: var(--SIZE_160);
  padding-left: var(--PADDING_10);
  padding-right: var(--PADDING_10);
}

.desktopBlock {
  padding-left: var(--PADDING_16);
  padding-right: var(--PADDING_16);
}

.messagesBlock {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: var(--MARGIN_30);
  gap: var(--GAP_4);
}

.infoMessage {
  text-align: start;
  margin: 0;
}
