.pageWrapper {
  max-width: var(--PAGE_MAX_WIDTH);
  height: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  padding: var(--PADDING_10) var(--PADDING_30) var(--PADDING_40);
  background-color: var(--COLOR_FOREGROUND);
  box-shadow: 0 10px 30px var(--COLOR_SHADOW_GENERAL);
}

.withFixedHeader {
  padding-left: var(--PADDING_20);
  padding-right: var(--PADDING_20);
}
