@font-face {
  font-family: 'SanFrancisco';
  src:
    local('SanFrancisco'),
    url(src/assets/fonts/SFUIDisplay-Regular.ttf) format('truetype');
  font-display: swap;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  background-color: var(--COLOR_FOREGROUND);
}

/* ------- TEXT STYLES ------- */

.title {
  font-size: var(--FONT_SIZE_TITLE);
  line-height: var(--LINE_HEIGHT_30);
  color: var(--COLOR_PRIMARY);
}

.pageTitle {
  font-size: var(--FONT_SIZE_18);
  line-height: var(--LINE_HEIGHT_22);
  color: var(--COLOR_PRIMARY);
}

.subtitle {
  font-size: var(--FONT_SIZE_SUB_TITLE);
  line-height: var(--LINE_HEIGHT_24);
  color: var(--COLOR_PRIMARY);
  text-align: center;
}

.text {
  font-size: var(--FONT_SIZE_TEXT);
  line-height: var(--LINE_HEIGHT_20);
  color: var(--COLOR_PRIMARY);
}

.subtext {
  font-size: var(--FONT_SIZE_SUB_TEXT);
  line-height: var(--LINE_HEIGHT_16);
  color: var(--COLOR_PRIMARY);
}

.text-style-pale {
  color: var(--COLOR_SUBTEXT);
}

.text-style-uppercase {
  text-transform: uppercase;
}

.text-style-centered {
  text-align: center;
}

.text-style-thick {
  font-weight: var(--WEIGHT_600);
}
