:root {
  --FONT_DEFAULT: SanFrancisco;

  --WEIGHT_NORMAL: 500;
  --WEIGHT_600: 600;

  --MODAL_MOBILE: 95vh;

  --TRANSITION_03: 0.3s;
  --TRANSITION_05: 0.5s;
  --TRANSITION_1: 1s;

  --OPACITY_05: 0.5;
  --OPACITY_1: 1;

  --FONT_SIZE_SUB_TEXT: 12px;
  --FONT_SIZE_TEXT: 14px;

  --LINE_HEIGHT_14: 14px;
  --LINE_HEIGHT_16: 16px;
  --LINE_HEIGHT_20: 20px;

  /* Surface */
  --COLOR_FOREGROUND: rgba(255, 255, 255, 1); /* #FFFFFF */
  --COLOR_BLURRED_FOREGROUND: rgba(255, 255, 255, 0.3); /* #FFFFFF */
  --COLOR_POP_UP_BACKGROUND: rgba(38, 26, 89, 0.9); /* #261A59 */
  --COLOR_INKY_BACKGROUND: rgba(0, 0, 0, 1); /* #000000 */

  /* Text & Icons */
  --COLOR_PRIMARY: rgba(38, 26, 89, 1); /* #261A59 */
  --COLOR_SUBTEXT: rgba(142, 142, 173, 1); /* #8E8EAD */
  --COLOR_NEGATIVE: rgba(253, 135, 110, 1); /* #FD876E */

  /* Shadows */
  --COLOR_SHADOW_GENERAL: rgba(179, 179, 199, 0.2); /* #B3B3C7 */

  --SIZE_BORDER: 1px;
  --SIZE_BORDER_THICK: 2px;
  --SIZE_TOP_LINE: 4px;
  --PAGE_MAX_WIDTH: 435px;

  --SIZE_8: 8px;
  --SIZE_10: 10px;
  --SIZE_40: 40px;

  --RADIUS_6: 6px;
  --RADIUS_10: 10px;
  --RADIUS_16: 16px;

  --MARGIN_4: 4px;
  --MARGIN_6: 6px;
  --MARGIN_10: 10px;

  --PADDING_2: 2px;
  --PADDING_4: 4px;
  --PADDING_10: 10px;
  --PADDING_20: 20px;
  --PADDING_30: 30px;
  --PADDING_40: 40px;
}
