.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  height: var(--SIZE_60);
  padding: var(--PADDING_10);
  background-color: var(--COLOR_SECONDARY_BG);
  border-radius: var(--SIZE_10);
  justify-content: space-between;
  align-items: center;
}

.button {
  width: var(--SIZE_30);
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.leftButton {
  transform: rotate(180deg);
}

.monthText {
  text-align: center;
  margin: 0;
  padding: 0;
  font-size: var(--FONT_SIZE_18);
  font-weight: var(--WEIGHT_NORMAL);
  color: var(--COLOR_PRIMARY);
}
